{% extends "base.html" %}

{% block base_header %}
<title> Login page </title>
{% endblock %}

{% block base_body %}
<h1 class="h1">User login</h1>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <button type="submit"> Login </button>
</form>

{% endblock %}